.card:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
}

.badge {
    border-radius: 12px;
    background-color: #FAEBD7;
    color: #333;
}


/*.chat-header {*/
/*    background: #0d6efd;*/
/*    color: #fff;*/
/*    padding: 8px 10px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    font-size: 14px;*/
/*}*/


.chat-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 320px;
    height: 420px;

    background: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column; /*  MOST IMPORTANT */
}

/* HEADER */
.chat-header {
    padding: 10px;
    background: #0d6efd;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SCROLLABLE MESSAGES */
.chat-messages {
    flex: 1;                 /* fills remaining space */
    padding: 10px;
    overflow-y: auto;        /* enables scrolling */
    background: #f8f9fa;
}

/* FOOTER */
.chat-input {
    padding: 8px;
    border-top: 1px solid #ddd;
    display: flex;
    gap: 6px;
    background: #fff;
}

.chat-input input {
    flex: 1;
    padding: 6px;
}

/* MINIMIZED STATE */
.chat-popup.minimized .chat-messages,
.chat-popup.minimized .chat-input {
    display: none;
}



.chat-actions button {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-left: 6px;
}

.chat-actions button:hover {
    opacity: 0.8;
}

.chat-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-input button {
    margin-left: 6px;
}
.chat-popup.minimized {
    height: auto;
}

.chat-popup.minimized .chat-body {
    display: none;
}

.date-divider {
    text-align: center;
    margin: 12px 0;
    font-size: 12px;
    color: #6c757d;
    position: relative;
}

.date-divider::before,
.date-divider::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 35%;
    height: 1px;
    background: #ddd;
}

.date-divider::before { left: 0; }
.date-divider::after { right: 0; }

.sent {
    align-self: flex-end;
    background: #0d6efd;
    color: white;
    padding: 6px 10px;
    border-radius: 10px;
    margin-bottom: 6px;
    max-width: 75%;
}

.received {
    align-self: flex-start;
    background: #e9ecef;
    padding: 6px 10px;
    border-radius: 10px;
    margin-bottom: 6px;
    max-width: 75%;
}

.msg-time {
    display: block;
    font-size: 10px;
    opacity: 0.7;
    margin-top: 2px;
}
.msg-sender {
    font-size: 11px;
    font-weight: bold;
    opacity: 0.7;
    margin-bottom: 2px;
}
