<!-- fragments/category_update_form.html -->
<div th:fragment="updateForm">
      <div class="modal-body">
         <form id="categoryUpdateForm" th:object="${category}" class="form form-vertical" th:action="@{/admin/category/update}" method="post">
            <div class="form-body">
                <input type="hidden" th:field="*{id}"/>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="category_name">Category Name</label>
                            <input type="text" id="category_name" class="form-control" name="category_name"
                                   placeholder="Category Name" th:field="*{categoryName}" required />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" id="description" class="form-control" name="description"
                                   placeholder="Category Description" th:field="*{description}" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label">Status</label>
                            <select class="form-select" th:field="*{status}">
                                <option th:each="st : ${statuses}"
                                        th:value="${st}"
                                        th:text="${st}"
                                        th:selected="${st == category.status}">
                                </option>
                            </select>4
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary me-1 mb-1">Update</button>
                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light-secondary"
                data-bs-dismiss="modal">
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">Close</span>
        </button>
    </div>
</div>