<footer th:fragment="footer">
    <div class="float-start">
        <p>Copyright 2025 &copy; FreelancingBD</p>
    </div>
    <div class="float-end">
        <p>Designed & Developed by <span class="text-danger"><i class="bi bi-heart-fill icon-mid"></i></span>
            <a href="https://abf2007.com">FreelancingBD</a></p>
    </div>
    <script th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}" defer></script>
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}" defer></script>
    <script th:src="@{/assets/js/main.js}" defer></script>
</footer>

