<div class="sidebar-menu" th:fragment="navigation" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <ul class="menu">
        <li class="sidebar-title">Quick Menu</li>
        <li class="sidebar-item active">
            <a href="/home" th:href="@{/home}" class='sidebar-link'><i class="bi bi-grid-fill"></i><span>Dashboard</span>
            </a>
        </li>
        <li class="sidebar-item has-sub" sec:authorize="hasAnyRole('FREELANCER','EMPLOYER','ADMIN')">
            <a href="#" class='sidebar-link'><i class="bi bi-stack text-info"></i><span>Job Category</span></a>
            <ul class="submenu" th:classappend="${currentPath != null and currentPath.startsWith('/jobs/category')} ? ' active'">
                <li th:each="cat : ${categories}" class="submenu-item"><a th:href="@{('/jobs/category/' + ${@aesUtil.encryptId(cat.id)})}" th:text="${cat.categoryName}"></a></li>
<!--                <li th:each="cat : ${categories}" class="submenu-item ">-->
<!--                    <a th:href="@{('/jobs/category/' + ${@aesUtil.encryptId(cat.id)})}">-->
<!--                        <i class="bi bi-arrow-right-short"></i>-->
<!--                        <span th:text="${cat.categoryName}"></span>-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
        </li>

        <li class="sidebar-item  has-sub" sec:authorize="hasRole('FREELANCER')">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-collection-fill text-success"></i>
                <span>Find Work</span>
            </a>
            <ul class="submenu" th:classappend="${currentPath != null and currentPath.startsWith('/employee/jobs')} ? ' active'">
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employee/jobs/new')} ? ' active'">
                    <a th:href="@{/employee/jobs/new_jobs}">New Jobs</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employee/jobs/recommended')} ? ' active'">
                    <a th:href="@{/employee/jobs/recommended_jobs}">Recommended Jobs</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employee/jobs/applied')} ? ' active'">
                    <a th:href="@{/employee/jobs/applied_jobs}">Applied Jobs</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employee/jobs/saved')} ? ' active'">
                    <a th:href="@{/employee/jobs/saved_jobs}">Saved Jobs</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employee/jobs/working')} ? ' active'">
                    <a th:href="@{/employee/jobs/working_jobs}">Work in Progress</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employee/jobs/completed')} ? ' active'">
                    <a th:href="@{/employee/jobs/completed_jobs}">Completed Jobs</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employee/jobs/reported')} ? ' active'">
                    <a th:href="@{/employee/jobs/reported_jobs}">Reported Jobs</a>
                </li>
            </ul>
        </li>

        <li class="sidebar-item has-sub" sec:authorize="hasRole('FREELANCER')">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-cash-stack text-danger"></i>
                <span>Earnings</span>
            </a>
            <ul class="submenu" th:classappend="${currentPath != null and currentPath.startsWith('/employee/earnings')} ? ' active'">
                <li class="submenu-item">
                    <a th:href="@{/employee/earnings/wallet_balance}">Wallet Balance</a>
                </li>
                <li class="submenu-item ">
                    <a th:href="@{/employee/earnings/withdrwal}">Withdrawal</a>
                </li>
                <li class="submenu-item active">
                    <a th:href="@{/employee/earnings/transaction_history}">Transaction History</a>
                </li>
                <li class="submenu-item ">
                    <a th:href="@{/employee/earnings/employer_reports}">Reports</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item has-sub" sec:authorize="hasRole('EMPLOYER')">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-file-slides-fill text-success"></i>
                <span>Proposals</span>
            </a>
            <ul class="submenu" th:classappend="${currentPath != null and currentPath.startsWith('/employer/proposals')} ? ' active'">
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employer/jobs/proposals')} ? ' active'">
                    <a th:href="@{/employer/jobs/proposals}">New Proposals</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employer/proposals/sortlisted')} ? ' active'">
                    <a th:href="@{/employer/proposals/sortlisted}">Sortlisted</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employer/proposals/hired')} ? ' active'">
                    <a th:href="@{/employer/proposals/hired}">Hired</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employer/proposals/declined')} ? ' active'">
                    <a th:href="@{/employer/proposals/declined}">Decline</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employer/proposals/paid')} ? ' active'">
                    <a th:href="@{/employer/proposals/paid}">Paid</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item has-sub" sec:authorize="hasRole('EMPLOYER')">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-card-checklist text-primary"></i>
                <span>Manage Jobs</span>
            </a>
            <ul class="submenu" th:classappend="${currentPath != null and currentPath.startsWith('/employer/jobs')} ? ' active'">
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employer/jobs/create')} ? ' active'">
                    <a th:href="@{/employer/jobs/create_job}">Create New Job</a>
                </li>

                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employer/jobs/job')} ? ' active'">
                    <a th:href="@{/employer/jobs/job_list}">All Job List</a>
                </li>

                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employer/jobs/active')} ? ' active'">
                    <a th:href="@{/employer/jobs/active_jobs}">Active Jobs</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employer/jobs/pending')} ? ' active'">
                    <a th:href="@{/employer/jobs/pending_jobs}">Pending Jobs</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employer/jobs/posted')} ? ' active'">
                    <a th:href="@{/employer/jobs/posted_jobs}">Posted Jobs</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employer/jobs/completed')} ? ' active'">
                    <a th:href="@{/employer/jobs/completed_jobs}">Completed Jobs</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employer/jobs/closed')} ? ' active'">
                    <a th:href="@{/employer/jobs/closed_jobs}">Closed Jobs</a>
                </li>
            </ul>
        </li>

        <li class="sidebar-item has-sub" sec:authorize="hasRole('EMPLOYER')">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-kanban text-danger"></i>
                <span>Projects</span>
            </a>
            <ul class="submenu" th:classappend="${currentPath != null and currentPath.startsWith('/employer/projects')} ? ' active'">
                <li class="submenu-item">
                    <a th:href="@{/employer/projects/onging_projects}">Ongoing Projects</a>
                </li>
                <li class="submenu-item ">
                    <a th:href="@{/employer/projects/completed_projects}">Completed Projects</a>
                </li>
                <li class="submenu-item active">
                    <a th:href="@{/employer/projects/disputes}">Disputes</a>
                </li>
            </ul>
        </li>

        <li class="sidebar-item has-sub" sec:authorize="hasRole('EMPLOYER')">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-wallet-fill text-primary"></i>
                <span>Payments</span>
            </a>
            <ul class="submenu" th:classappend="${currentPath != null and currentPath.startsWith('/employer/payments')} ? ' active'">
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employer/payments/pending')} ? ' active'">
                    <a th:href="@{/employer/payments/pending_payments}">Pending Payments</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employer/payments/payment')} ? ' active'">
                    <a th:href="@{/employer/payments/payment_history}">Payment History</a>
                </li>
                <li class="submenu-item active" th:classappend="${currentPath != null and currentPath.startsWith('/employer/payments/invoice')} ? ' active'">
                    <a th:href="@{/employer/payments/invoice_reports}">Invoice and Reports</a>
                </li>
            </ul>
        </li>

        <li class="sidebar-item has-sub" sec:authorize="hasRole('EMPLOYER')">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-building text-info"></i>
                <span>Company Profile</span>
            </a>
            <ul class="submenu" th:classappend="${currentPath != null and currentPath.startsWith('/employer/company')} ? ' active'">
                <li class="submenu-item">
                    <a th:href="@{/employer/company/company_profile}">View Profile</a>
                </li>
                <li class="submenu-item ">
                    <a th:href="@{/employer/company/edit_comprofile}">Edit Profile </a>
                </li>
                <li class="submenu-item active">
                    <a th:href="@{/employer/company/reviews_ratings}">Reviews and Ratings</a>
                </li>
            </ul>
        </li>


        <li class="sidebar-item has-sub" sec:authorize="hasRole('EMPLOYER')">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-person-badge-fill text-success"></i>
                <span>Find Freelancer</span>
            </a>
            <ul class="submenu" th:classappend="${currentPath != null and currentPath.startsWith('/employer/freelancer')} ? ' active'">
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employer/skilled')} ? ' active'">
                    <a th:href="@{/employer/skilled_freelancer}">Browse by Skills</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employer/top')} ? ' active'">
                    <a th:href="@{/employer/top_rated}">Top Rated Freelancers</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employer/recommended')} ? ' active'">
                    <a th:href="@{/employer/recommended_freelancer}">Recommended Freelancers</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/employer/saved')} ? ' active'">
                    <a th:href="@{/employer/saved_freelancer}">Saved Freelancers</a>
                </li>
            </ul>
        </li>

        <!-- <li class="sidebar-title">Forms &amp; Tables</li>-->

        <li class="sidebar-item  has-sub" sec:authorize="hasAnyRole('FREELANCER','EMPLOYER')">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-hexagon-fill text-warning"></i>
                <span>Support</span>
            </a>
            <ul class="submenu" th:classappend="${currentPath != null and currentPath.startsWith('/user/support')} ? ' active'">
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/user/support/help')} ? ' active'">
                    <a th:href="@{/user/support/help_center}">Help Center</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/user/support/report')} ? ' active'">
                    <a th:href="@{/user/suport/report_problem}">Report a Problem</a>
                </li>
                <li class="submenu-item text-dark" th:classappend="${currentPath != null and currentPath.startsWith('/user/support/contactus')} ? ' active'">
                    <a th:href="@{/user/support/contactus}">Contact Support</a>
                </li>
            </ul>
        </li>

<!--        Admin user menu-->
        <li class="sidebar-item has-sub" sec:authorize="hasRole('ADMIN')">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-people-fill text-dark"></i>
                <span>User Management</span>
            </a>
            <ul class="submenu" th:classappend="${currentPath != null and currentPath.startsWith('/admin/users')} ? ' active'">
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/admin/users/freelancer')} ? ' active'">
                    <a th:href="@{/admin/users/freelancer_list}">Freelancers</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/admin/users/client')} ? ' active'">
                    <a th:href="@{/admin/users/client_list}">Clients</a>
                </li>
<!--                <li class="submenu-item active">-->
<!--                    <a th:href="@{/admin/users/user_role}">Role Management</a>-->
<!--                </li>-->
            </ul>
        </li>
        <li class="sidebar-item has-sub" sec:authorize="hasRole('ADMIN')">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-kanban-fill text-warning"></i>
                <span>Project Management</span>
            </a>
            <ul class="submenu" th:classappend="${currentPath != null and currentPath.startsWith('/admin/jobs')} ? ' active'">
                <li class="submenu-item" th:classappend="${currentPath.startsWith('/admin/jobs/pending')} ? ' active'">
                    <a th:href="@{/admin/jobs/pending_jobs}">Pending Jobs</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath.startsWith('/admin/jobs/posted')} ? ' active'">
                    <a th:href="@{/admin/jobs/posted_jobs}">Posted Jobs</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath.startsWith('/admin/jobs/active')} ? ' active'">
                    <a th:href="@{/admin/jobs/active_jobs}">Active Jobs</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath.startsWith('/admin/jobs/completed')} ? ' active'">
                    <a th:href="@{/admin/jobs/completed_jobs}">Completed Jobs</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath.startsWith('/admin/jobs/canceled')} ? ' active'">
                    <a th:href="@{/admin/jobs/canceled_jobs}">Canceled Jobs</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item has-sub" sec:authorize="hasRole('ADMIN')">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-cash-stack text-danger"></i>
                <span>Finance Management</span>
            </a>
            <ul class="submenu" th:classappend="${currentPath != null and currentPath.startsWith('/admin/finance')} ? ' active'">
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/admin/finance/platform')} ? ' active'">
                    <a th:href="@{/admin/finance/platform_earnings}">Platform Earnings</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/admin/finance/freelancer')} ? ' active'">
                    <a th:href="@{/admin/finance/freelancer_withdrawals}">Freelancer withdrawals</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/admin/finance/transaction')} ? ' active'">
                    <a th:href="@{/admin/finance/transacction_history}">Transaction History</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/admin/finance/refund')} ? ' active'">
                    <a th:href="@{/admin/finance/refund_request}">Refund Request</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item has-sub" sec:authorize="hasRole('ADMIN')">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-file-slides text-primary"></i>
                <span>Category Management</span>
            </a>
            <ul class="submenu" th:classappend="${currentPath != null and currentPath.startsWith('/admin/category')} ? ' active'">
                <li class="submenu-item" sec:authorize="hasRole('ADMIN')" th:classappend="${currentPath != null and currentPath.startsWith('/admin/category/create')} ? ' active'">
                    <a th:href="@{/admin/category/create}">Create Category</a>
                </li>
                <li class="submenu-item" sec:authorize="hasRole('ADMIN')" th:classappend="${currentPath != null and currentPath.startsWith('/admin/category/category')} ? ' active'">
                    <a th:href="@{/admin/category/category_list}">Category List</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item has-sub" sec:authorize="hasRole('ADMIN')">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-bar-chart-line-fill text-info"></i>
                <span>Report & Analytics</span>
            </a>
            <ul class="submenu" th:classappend="${currentPath != null and currentPath.startsWith('/admin/reports')} ? ' active'">
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/admin/reports/user')} ? ' active'">
                    <a th:href="@{/admin/reports/user_growth}">User Growth Reports.</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/admin/reports/top')} ? ' active'">
                    <a th:href="@{/admin/reports/top_earning_user}">Top Earning User</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/admin/reports/revenue')} ? ' active'">
                    <a th:href="@{/admin/reports/revenue_analytics}">Revenue Analytics</a>
                </li>
               </ul>
        </li>
        <li class="sidebar-item has-sub" sec:authorize="hasRole('ADMIN')">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-telephone-fill text-success"></i>
                <span>Support & Disputes</span>
            </a>
            <ul class="submenu" th:classappend="${currentPath != null and currentPath.startsWith('/admin/support')} ? ' active'">
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/admin/support/ticket')} ? ' active'">
                    <a th:href="@{/admin/support/ticket_management}">Ticket Management System</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/admin/support/dispute')} ? ' active'">
                    <a th:href="@{/admin/support/dispute_resolution_panel}">Dispute Resolution Panel</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item has-sub" sec:authorize="hasRole('ADMIN')">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-gear-fill text-gray"></i>
                <span>System Settings</span>
            </a>
            <ul class="submenu" th:classappend="${currentPath != null and currentPath.startsWith('/admin/settings')} ? ' active'">
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/admin/settings/platform')} ? ' active'">
                    <a th:href="@{/admin/settings/platform_settings}">Platform Settings</a>
                </li>
                <li class="submenu-item" th:classappend="${currentPath != null and currentPath.startsWith('/admin/settings/notification')} ? ' active'">
                    <a th:href="@{/admin/settings/notification_templates}">Notification/email templates</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- temporary — use to inspect values -->
