<!-- fragments/category_update_form.html -->
<div th:fragment="proposalDetail">
    <div class="row" th:object="${jobApplication}">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center">
                <img class="rounded-square"
                     style="width:150px; height:170px; border-radius:8px;"
                     th:src="${applicant.getUserProfile().profilePicture != null
              ? '/'+applicant.getUserProfile().profilePicture : '/images/default.jpg'}" />
                <div class="col-md-12"><strong>Name: </strong><span class="font-weight-bold" th:text="${applicant.fullname}"></span></div>
                <div class="col-md-12"><strong>Email: </strong> <span class="text-black-50" th:text="${applicant.email}"></span></div>
                <div class="col-md-12"><label class="labels"><strong>Phone:</strong></label>&nbsp;<span th:text="${applicant.phone}"></span></div>
                <div class="col-md-12"><label class="labels"><strong>Gender:</strong></label>&nbsp;<span th:text="${applicant.getUserProfile().gender !=null ? applicant.getUserProfile().gender : 'N/A'}"></span></div>
                <div class="col-md-12"><label class="labels"><strong>NID:</strong></label>&nbsp;<span th:text="${applicant.nid}"></span></div>
                <div class="col-md-12"><label class="labels"><strong>Country:</strong></label>&nbsp;<span th:text="${applicant.getUserProfile().country !=null ? applicant.getUserProfile().country :'N/A'}"></span></div>
                <div class="col-md-12"><label class="labels"><strong>City:</strong></label>&nbsp;<span th:text="${applicant.getUserProfile().city !=null ? applicant.getUserProfile().city : 'N/A'}"></span></div>
                <div class="col-md-12"><label class="labels"><strong>Github Url:</strong></label>&nbsp;<span th:text="${applicant.getUserProfile().githubUrl !=null ? applicant.getUserProfile().githubUrl : 'N/A'}"></span></div>
                <div class="col-md-12"><label class="labels"><strong>Linkedin Url:</strong></label>&nbsp;<span th:text="${applicant.getUserProfile().linkedinUrl !=null ? applicant.getUserProfile().linkedinUrl : 'N/A'}"></span></div>
                <div class="col-md-12"><label class="labels"><strong>Skills:</strong> </label>&nbsp;<span th:text="${applicant.getUserProfile().skills !=null ? applicant.getUserProfile().skills : 'N/A'}"></span></div>
                <div class="col-md-12"><label class="labels"><strong>Resume:</strong> </label>&nbsp;
                    <span th:if="${applicant.getUserProfile().cv != null}">
                        <a th:href="@{'/' + ${applicant.getUserProfile().cv}}" target="_blank">Download CV</a></span></div>

            </div>
        </div>
        <div class="col-md-8 border-right">
             <h6 class="text-right">Applicantion Details</h6>
                        <form id="proposalUpdateForm">
                            <input type="hidden" name="encId" th:value="${encId}"/>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="card-title">Job Title: </label>
                                    <span th:text="${jobApplication.getJob().title}"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="card-title">Category: </label>
                                    <span th:text="${jobApplication.getJob().getCategory().categoryName}"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="card-title">Cover Letter: </label>
                                    <span th:utext="${jobApplication.coverLetter}"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="card-title">Expected Salary: </label>
                                    <span th:text="${jobApplication.expectedSalary}"></span>
                                </div>
                            </div>
                            <div class="col-12">
                            <div class="form-group">
                                <label class="form-label">Application Status</label>
                                <select class="form-select" th:field="*{applicationStatus}" required>
                                    <option th:each="aps : ${applicationStatus}"
                                            th:value="${aps.name()}"
                                            th:text="${aps.name()}">
                                    </option>
                                </select>
                            </div>
                            </div>
                        </form>
                        <div id="statusMessage" class="mt-2 text-success" style="display:none;"></div>
<!--                    </div>-->
                </div>

        </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light-secondary"
                data-bs-dismiss="modal">
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">Close</span>
        </button>
    </div>
</div>
