<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragments/header :: header}"></div>
    <script th:src="@{/assets/vendors/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/assets/vendors/tinymce/plugins/code/plugin.min.js}"></script>
    <script>
        tinymce.init({ selector: '#default' });
        tinymce.init({ selector: '#required_skill' });
        tinymce.init({ selector: '#dark', toolbar: 'undo redo styleselect bold italic alignleft aligncenter alignright bullist numlist outdent indent code', plugins: 'code' });
    </script>
    <link rel="stylesheet" th:href="@{/assets/vendors/simple-datatables/style.css}">
</head>
<body>
<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div th:replace="~{fragments/navigation :: navigation}"></div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <div id="main" class='layout-navbar'>
        <div th:replace="~{fragments/profile_header :: profile-header}"></div>
        <div id="main-content">
            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last"></div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a th:href="@{/home}">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Job Category / <span th:text="${category.categoryName}"></span></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="card">
                        <div class="card-header">Job List : <span th:text="${category.categoryName}"></span></div>
                        <div class="card-body" id="freelancerCardBody">
                            <table class="table table-striped" id="table1">
                                <thead>
                                <tr>
                                    <th>Job Summary</th>
                                    <th>Vacancy</th>
                                    <th>Job Type</th>
                                    <th>Status</th>
                                    <th>Created At</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="job : ${jobs}">
                                    <td>
                                    <div class="card bg-light-secondary">
                                        <div class="card-content">
                                            <div class="card-body">
                                                <h4 class="card-title"><span th:text="${job.title}"></span></h4>
                                                <p class="card-text"><span th:text="${job.getCategory().getCategoryName()}"></span>
                                                <hr/>
                                                <span th:text="${#strings.abbreviate(job.requiredSkill, 40)}"></span>
                                                </p>
                                                <small class="text-muted">Price: <span th:text="${job.paymentAmount}"></span>  &nbsp; &nbsp;Deadline: <span th:text="${#temporals.format(job.deadline, 'yyyy-MM-dd')}"></span></small>
                                            </div>
                                        </div>
                                    </div>
                                    </td>
                                    <td th:text="${job.vacancy != null ? job.vacancy : ''}" th:align="center"></td>
                                    <td th:text="${job.jobType}"></td>
                                    <td>
                                        <span th:if="${job.jobStatus.name() =='POSTED' }"
                                              class="badge bg-primary">Open</span>
                                        <span th:if="${job.jobStatus.name() =='PENDING' }"
                                              class="badge bg-warning">Pending</span>
                                        <span th:if="${job.jobStatus.name() =='IN_PROGRESS' }"
                                              class="badge bg-light-primary">IN PROGRESS</span>
                                        <span th:if="${job.jobStatus.name() =='COMPLETED' }"
                                              class="badge bg-success">COMPLETED</span>
                                        <span th:if="${job.jobStatus.name() =='CANCELLED' }"
                                              class="badge bg-danger">CANCELLED</span>
                                    </td>
                                    <td th:text="${#temporals.format(job.createdAt, 'yyyy-MM-dd')}"></td>
                                    <td>
                                        <a type="button" th:target="_blank"
                                           class="btn btn-sm btn-outline-primary edit-btn"
                                           th:href="@{('/jobs/job_detail/' + ${@aesUtil.encryptId(job.id)})}">
                                            <i class="bi bi-book"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div th:replace="~{fragments/footer :: footer}"></div>
                    <script th:src="@{/assets/vendors/simple-datatables/simple-datatables.js}"></script>
                    <script>
                        // Simple Datatable
                        let table1 = document.querySelector('#table1');
                        let dataTable = new simpleDatatables.DataTable(table1);

                    </script>

                </div>
            </footer>
        </div>
        <!-- Toast Container (GLOBAL) -->
        <div id="toastContainer" class="toast-container position-fixed bottom-0 end-0 p-3"></div>
    </div>
</div>
</body>
</html>