<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="~{fragments/header :: header}"></div>
</head>
<body>
<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div th:replace="~{fragments/navigation :: navigation}"></div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <div id="main" class='layout-navbar'>
        <div th:replace="~{fragments/profile_header :: profile-header}"></div>
        <div id="main-content">
            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <!--  <h3>Vertical Layout with Navbar</h3>-->
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a th:href="@{/home}">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Category</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <section id="basic-vertical-layouts">
                    <div class="row match-height">
                        <div class="col-md-5 col-12">
                            <div class="card">
                                <div class="card-header"><h4 class="card-title">Category Create Form</h4></div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <div th:if="${messsage}" class="alert alert-success">
                                            <span th:text="${messsage}"></span>
                                        </div>
                                        <form th:object="${category}" class="form form-vertical" th:action="@{/admin/category/submit_category}" method="post">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="category_name">Category Name</label>
                                                            <input type="text" id="category_name" class="form-control" name="category_name"
                                                                   placeholder="Category Name" th:field="*{categoryName}" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="description">Description</label>
                                                            <input type="text" id="description" class="form-control" name="description"
                                                                   placeholder="Category Description" th:field="*{description}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 d-flex justify-content-end">
                                                        <button th:if="${category.id == null}" type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                                        <button th:if="${category.id != null}" type="submit" class="btn btn-primary me-1 mb-1">Update</button>
                                                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Recently Created Category</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="card-content">

                                            <!-- table head dark -->
                                            <div class="table-responsive">
                                                <table class="table mb-0">
                                                    <thead class="thead-dark">
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Description</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="cat : ${singleCategory}">
                                                        <td th:text="${cat.categoryName}"></td>
                                                        <td th:text="${cat.description}"></td>
                                                        <td><a th:href="@{/admin/category/update_form(id=${cat.id})}"><div class="icon dripicons-pencil">Edit</div></a>&nbsp;
                                                            <a th:href="@{/admin/category/delete/{id}(id=${cat.id})}"><div class="icon dripicons-trash">Delete</div></a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div th:replace="~{fragments/footer :: footer}"></div>
                </div>
            </footer>
        </div>
    </div>
</div>
</body>
</html>