<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragments/header :: header}"></div>
</head>
<body>
<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div th:replace="~{fragments/navigation :: navigation}"></div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <div id="main" class='layout-navbar'>
        <div th:replace="~{fragments/profile_header :: profile-header}"></div>
        <div id="main-content">
            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
<!--                            <h3>Vertical Layout with Navbar</h3>-->
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a th:href="@{/home}">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Home
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Example Content</h4>

                        </div>
                        <div class="notifications">
                            <h5>Live Notifications</h5>
                            <ul id="notificationList">
                                <li>Waiting for new notifications...</li>
                            </ul>
                        </div>
                        <div class="card-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quas omnis
                            laudantium tempore
                            exercitationem, expedita aspernatur sed officia asperiores unde tempora maxime odio
                            reprehenderit
                            distinctio incidunt! Vel aspernatur dicta consequatur!
                        </div>
                    </div>
                </section>
                <div id="toastContainer" class="toast-container position-fixed bottom-0 end-0 p-3"></div>
            </div>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div th:replace="~{fragments/footer :: footer}"></div>
<!--                    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>-->
<!--                    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>-->
                    <script>
                        var socket = new SockJS('/ws');
                        var notificationClient  = Stomp.over(socket);

                        notificationClient .connect({}, function(frame) {
                            console.log("Connected: " + frame);

                            // Subscribe to user-specific notifications
                            notificationClient .subscribe('/user/queue/notifications', function(notification) {
                                const data = JSON.parse(notification.body);
                                console.log("Notification received:", data);
                                showNotification(data.title, data.message);
                            });
                        });

                        function showNotification(title, message) {
                            showToast(`${title}\n${message}`, "success");
                            //alert(`🔔 ${title}\n${message}`);

                        }

                        // Toast function for global
                        function showToast(message, type) {
                            let bg = type === "success" ? "bg-success" : "bg-danger";
                            let toastHtml = `
                            <div class="toast align-items-center text-white ${bg} border-0" role="alert" data-bs-delay="20000" data-bs-autohide="true" aria-live="assertive" aria-atomic="true">
                              <div class="d-flex">
                                <div class="toast-body">${message}</div>
                                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
                              </div>
                            </div>`;
                            // Remove after 20 seconds (20000 ms)

                            $("#toastContainer").append(toastHtml);
                            let newToast = new bootstrap.Toast($("#toastContainer .toast").last()[0]);
                            newToast.show();
                        }

                    </script>
                </div>
            </footer>
        </div>
    </div>
</div>

</body>
</html>