<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ... -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <!-- <link th:href="@{/static/css/app.css}" rel="stylesheet" /> -->
    <script th:src="@{/js/bootstrap.bundle.min.js}" defer></script>
    <!-- <script th:src="@{/static/js/app.js}" defer></script> -->
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form action="/register" method="post">
    First name: <input type="text" name="fname" /><br/>
    Last Name: <input type="text" name="lname" /><br/>
    Username: <input type="text" name="username" /><br/>
    Password: <input type="password" name="password" /><br/>
    Email: <input type="text" name="email" /><br/>
    Country: <input type="text" name="country" /><br/>
    City: <input type="text" name="city" /><br/>
    Address: <textarea name="address"></textarea><br/>
    Phone: <input type="text" name="phone" /><br/>
    Gender: <input type="text" name="gender" /><br/>
    Date of Birth: <input type="date" name="birthdate" /><br/>
    <button type="submit">Register</button>
</form>
</body>
</html>
